{% for file in field_type.value %}
    {% if file.resource %}

        <li class="media">

            <div class="media-left">
                <a href="{{ url('streams/files-field_type/view/' ~ file.id) }}" target="_blank"
                   class="preview {{ not file.type == 'image' ? 'no-preview' }}">
                    {% if file.type %}
                        <img class="media-object img-rounded" src="{{ url(file.public_path) }}"/>
                    {% endif %}
                    {{ icon('file') }}
                </a>
            </div>

            <div class="media-body">

                <strong class="media-heading">
                    {{ file.name }}
                </strong>

                <p>{{ file.readable_size }}</p>

                <a class="btn btn-xs btn-danger" href="#" data-action="remove">
                    {{ icon('times-circle') }}
                    <span>{{ trans('anomaly.field_type.files::button.remove') }}</span>
                </a>
            </div>

            <input type="hidden" name="{{ field_type.input_name }}[]" value="{{ file.id }}">
        </li>

    {% endif %}
{% endfor %}
