{{ asset_add('scripts.js', 'anomaly.field_type.files::js/dropzone.min.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.files::js/input.js', ['live']) }}
{{ asset_add('styles.css', 'anomaly.field_type.files::less/input.less', ['live']) }}

<div
        class="files"
        data-mimes="{{ field_type.config.mimes|join(',') }}"
        data-max="{{ field_type.config.max_size }}"
        data-disk="{{ field_type.config.disk }}"
        data-path="{{ field_type.config.path }}"
        data-message="{{ trans('anomaly.field_type.files::input.dropzone') }}">

    <div class="dropzone">
        {{ icon('upload', 'icon') }}
    </div>

    {% include "anomaly.field_type.files::files" %}
    {% include "anomaly.field_type.files::template" %}

</div>
