<script type="text/javascript">
    var DROPZONE_MESSAGE = '{{ icon('upload') }}&nbsp;&nbsp;{{ trans('anomaly.field_type.files::uploader.instructions') }}';
    var DROPZONE_DISK = '{{ table.options.disk.id }}';
    var DROPZONE_FOLDER = '{{ table.options.folder.id }}';
</script>

{{ asset_add('scripts.js', 'anomaly.field_type.files::js/dropzone.js', ['live']) }}
{{ asset_add('scripts.js', 'anomaly.field_type.files::js/input.js', ['live']) }}

{{ asset_add('styles.css', 'anomaly.field_type.files::less/dropzone.less', ['live']) }}
{{ asset_add('styles.css', 'anomaly.field_type.files::less/input.less', ['live']) }}

<div class="dropzone">
    <div class="fallback">
        <input name="upload" type="file" multiple/>
    </div>
</div>